- if current_user.nil?
  / Bootstrap Core CSS
  %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
  / Custom CSS
  %link{:href => "css/landing-page.css", :rel => "stylesheet"}/
  / Custom Fonts
  %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
  %body
  / Header
  %a{:name => "about"}
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            %h1 Marx Manager
            %h3 Le gestionnaire de notes que vous attendiez
            %hr.intro-divider/
            %ul.list-inline.intro-social-buttons
              %li
                %a.btn.btn-default.btn-lg{:href => "https://twitter.com/realDonaldTrump"}
                  %i.fa.fa-twitter.fa-fw
                  %span.network-name Twitter
              %li
                %a.btn.btn-default.btn-lg{:href => "https://github.com/swietrc/marx-manager"}
                  %i.fa.fa-github.fa-fw
                  %span.network-name Github
    / /.container
  / /.intro-header
  / Page Content
  %a{:name => "services"}
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Mieux que Scoledge !
            %br>/
            Un étudiant ne peux pas créer de compte administrateur
          %p.lead
            Pensé avant tout pour l'utilisateur, ce gestionnaire de note saura répondre à toutes vos attentes...
        .col-lg-5.col-lg-offset-2.col-sm-6
          %img.img-responsive{:alt => "", :src => "assets/ipad.png"}/
    / /.container
  / /.content-section-a
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Un système d'invitation par email révolutionnaire
            %br>/
            Du jamais vu sur les internets
          %p.lead
            Un étudiant reçoit une invitation par
            %a{:href=>"mailto:renlar.jean@gmail.com"}renlar.jean@gmail.com
            afin d'accéder au site. Plus besoin de longue création de compte !
        .col-lg-5.col-sm-pull-6.col-sm-6
          %img.img-responsive{:alt => "", :src => "assets/dog.png"}/
    / /.container
  / /.content-section-b
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Un design unique au monde
            %br>/
            Bootstrap n'a qu'à bien se tenir
          %p.lead
            Grace à un magnifique template, notre site à une apparence unique, qui lui donne son charme particulier.
        .col-lg-5.col-lg-offset-2.col-sm-6
          %img.img-responsive{:alt => "", :src => "assets/phones.png"}/
    / /.container
  / /.content-section-a
  %a{:name => "contact"}
  .banner
    .container
      .row
        .col-lg-6
          %h2 Suivez nous sur les réseaux sociaux :
        .col-lg-6
          %ul.list-inline.banner-social-buttons
            %li
              %a.btn.btn-default.btn-lg{:href => "https://twitter.com/realDonaldTrump "}
                %i.fa.fa-twitter.fa-fw
                %span.network-name Twitter
            %li
              %a.btn.btn-default.btn-lg{:href => "https://github.com/swietrc/marx-manager"}
                %i.fa.fa-github.fa-fw
                %span.network-name Github
    / /.container
  / /.banner
  / jQuery
  %script{:src => "js/jquery.js"}
  / Bootstrap Core JavaScript
  %script{:src => "js/bootstrap.min.js"}




    /= link_to new_user_session_path, class: 'login-button' do
    /Sign in
- if can? :manage, User
  = link_to admin_path, class: 'login-button' do
    Go to Admin page
- if current_user && current_user.is_teacher
  = link_to "Teacher", teacher_index_path
- if current_user && current_user.active_for_authentication?
  = link_to "Admin", admin_path if can? :manage, User
- if current_user && !current_user.is_teacher
  = link_to "Test", student_index_path
