
- if current_user.nil?
  = link_to new_user_session_path, class: 'login-button' do
    Sign in

= link_to "Admin", admin_path if can? :manage, User

- if current_user && !current_user.is_teacher
  = link_to "Test", student_index_path